@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .slick-prev,
  .slick-next {
    color: #000 !important;
    background-color: black !important;
    top: 115% !important;
    transform: translate(-50%, -50%);
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
  }
  .slick-prev {
    left: 40% !important;
  }
  .slick-next {
    left: 50%;
  }
}
